html {
    background-color: #0A0A0A;
    background-image: -webkit-linear-gradient(0deg,rgb(0,60,60) 0%,rgb(0,0,0) 100%);
    background-image: linear-gradient(0deg,rgb(0,60,60) 0%,rgb(0,0,0) 100%);
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    color: #ffffff;
    background: transparent;
    box-shadow: 0 0 2pt rgba(0, 0, 0, 0.06);
    font-family: "Lucida Console";
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 2pt solid rgba(0, 0, 0, 0.12);
    border-radius: 4pt;
    display: block;
    margin: 2pt auto;
    max-width: 99%;
}

tip-tip:hover {
    display: none;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-tab {
    font-size: 15pt;
    padding: 10pt;
    border: 2pt solid slategray;
    border-radius: 15pt;
}

.btn-tab:hover {
    color: #dddddd;
    background-color: #309090;
    border-color: #303030;
    border: 2pt solid;
    border-radius: 15pt;

}

.nav-pills span {
    font-size: 12pt;
    font-family: "Lucida Console";
}

.btn-primary {
    border-color: #303030;
    text-shadow: 0pt 0pt 0pt rgba(0,0,0,0.5);
}

.btn-primary:hover {
    color: #dddddd;
    background-color: #309090;
    border-color: #303030;
    text-shadow: 1pt 1pt 1pt rgba(0,0,0,0.5);
}

.btn-primary.btn-enabled:hover {
    background-color: limegreen;
    text-shadow: 3pt 3pt 3pt rgba(0,0,0,0.5);
    color: green;
}

.btn-enabled {
    background-color: #119911;
    text-shadow: 1pt 1pt 1pt rgba(0,0,0,0.5);
    color: green;
}

.btn-disabled {
    background-color: #909090;
    color: #303030;
    pointer-events: none !important;
}

.btn-disabled:hover {
    background-color: #909090;
    color: #303030
    pointer-events: none !important;
}

.no-padding {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.progress {
  height: 3em;
}

.progress-bar {
  transition: width 0.2s ease-in-out;
}

.card-container {
    display: flex;
    max-width: 1100px;
    min-width: 366px;
    flex-flow: row wrap;
    margin: auto;
}

.btn-device-card-wrapper {
    display: flex;
}

.btn-device-wrapper {
    position: absolute;
}

.btn-device-info-wrapper {
    position: relative;
    left: 85px;
    min-width: 360px;
    max-width: 360px;
    min-height: 146px;
    max-height: 146px;
}

.btn-device {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 18px;
    font-size: 55pt;
    min-width: 80px;
    max-width: 80px;
    min-height: 132px;
    max-height: 132px;
    cursor: pointer;
}

.btn-device-count {
    font-size: 16pt;
    position:absolute;
    color: white;
    bottom: 5px;
    right: 5px;
    pointer-events: none;
}

.btn-device-buy {
    font-size: 14pt;
    position:absolute;
    color: gold;
    left: 5px;
    top: 5px;
    pointer-events: none;
}

.btn-device-cost {
    font-size:10pt;
    font-weight: 600;
    position:relative;
    bottom: 10%;
    color: gold;
    left: 5%;
    pointer-events: none;
}

.btn-upgrade-group {
    position: absolute;
    left: 20px;
    display: flex;
}

.btn-upgrade-wrapper {
    border-style: solid !important;
    border-color: white;
    border-width: 1px;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    cursor: pointer;
}

.btn-ghost {
    background-color: transparent;
    border-style: dotted !important;
    border-width: 1px;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

.btn-upgrade-image {
    position: relative;
    font-size: 22pt;
    color: white !important;
}

.btn-upgrade-count {
    position: absolute;
    bottom: -2px;
    right: 2px;
    font-size: 10pt;
    color: white;
    pointer-events: none  !important;
    box-shadow: 2px;
}

.device-card-text-left {
    line-height: 20pt;
    font-size: 12pt;
    position: absolute;
    left: 25px;
    top: 40px;
}

.device-card-text-right {
    text-align: center;
    margin: auto;
    line-height: 16pt;
    font-size: 12pt;
    position: absolute;
    left: 190px;
    max-width: 80px;
}



.science-items-wrapper {
    display: flex;
}

.science-item {
    margin: 4px;
}

.btn-science {
    cursor: pointer;
}

.btn-science-max {
    background-color: gold;
    color: orange;
}

.btn-science-image {
    font-size: 48pt;
}

.tooltip-md {
    font-size: 14pt;
    pointer-events:none;
}

.tooltip-name {
    color: gold;
}

.tooltip-cost {
    color: gold;
}

.round-borders {
    border: 2pt solid white;
    border-radius: 8pt;
}

.round-borders-inset {
    border: 2pt inset white;
    border-color: white;
    border-radius: 10pt;
}

.round-borders-left {
    border-bottom-left-radius: 8pt;
    border-top-left-radius: 8pt;
    border-top-right-radius: 0pt;
    border-bottom-right-radius: 0pt;
}

.btn-tab-selected {
    background-color: gold;
}

.fg-orange {
    color: orange;
}

.fg-cyan {
    color: cyan;
}

.fg-lightblue {
    color: lightblue;
}

.fg-red {
    color: red;
}

.fg-darkgreen {
    color: darkgreen;
}

.fg-gold {
    color: gold;
}

.fg-white {
    color: white;
}

.fg-limegreen {
    color: limegreen;
}

.fg-gray {
    color: gray;
}

.fg-black {
    color: black;
}

.bg-orange {
    background-color: orange;
}

.bg-cyan {
    background-color: cyan;
}

.bg-red {
    background-color: red;
}

.bg-darkgreen {
    background-color: darkgreen;
}

.bg-gold {
    background-color: gold;
}

.bg-white {
    background-color: white;
}

.bg-limegreen {
    background-color: limegreen;
}

.bg-gray {
    background-color: gray;
}

.progress-label-left {
    position: absolute;
    top: 10px;
    left: 40px;
    font-weight: bold;
}
