<div class="row">
    <div class="col-xs-12">
        <a ng-click="cycleBuyMode()" ng-show="hasDevice()" class="btn btn-primary bg-gold fg-darkgreen">Buy {{ getDisplayBuyMode() }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" ng-hide="hasDevice()">
        Install your viral AI into a burner phone.
        <br>
        <a ng-click="installClick()" ng-disabled="hasDevice()" class="btn btn-primary"><i class="material-icons">build</i> Makefile.jar</a>
    </div>
    <div class="col-xs-5 round-borders-inset" style="margin-bottom:1%; margin-right: 1%;" ng-show="(device.count > 0 || device.unlocked" ng-repeat="device in deviceMeta.items">
        <div class="row">
            <div class="col-xs-2">
                <span style="position:relative">
                    <span>
                        <a ng-click="buyDevice(device)" ng-class="(!canBuyDevice(device) ? 'btn-disabled' : 'btn-enabled')" class="btn btn-sm btn-primary round-borders"
                           tooltips tooltip-speed="fast" tooltip-side="bottom-right"
                           tooltip-template="{{ getNameForTooltip(device.name) }}: {{ getDeviceMeta(device.id).description }} ">

                            <i class="btn-device" ng-class="device.icon + ' ' + getCanBuyColor('device', device)" ng-bind="device.iconFontID" ng-disabled="data < getDeviceBuyPrice(device)">
                            </i>
                        </a>
                    </span>
                    <span class="btn-device-count">
                        {{ device.count }}
                    </span>
                    <span class="btn-device-buy">
                        +{{ getDeviceBuyCount(device) }}
                    </span>
                </span>
            </div>
            <div class="col-xs-2">
                <div class="row">
                    <div class="col-xs-6" ng-repeat="upgrade in device.upgradeList" ng-show="requirementsMet(upgrade.requirement)">
                        <span style="position:relative">
                            <span>
                                <a class="btn btn-primary btn-upgrade round-borders" ng-click="buyUpgrade(upgrade)" tooltips tooltip-speed="fast" tooltip-side="bottom-right" tooltip-template="{{ getNameForTooltip(upgrade.name) }}: {{upgrade.description}} COST: {{ display(getUpgradeCost(upgrade)) }}B"
                                ng-class="(!canBuyUpgrade(upgrade) ? 'btn-disabled' : 'btn-enabled')" >
                                    <i class="btn-upgrade-image" ng-class="upgrade.icon + ' ' + getCanBuyColor('upgrade', upgrade)" ng-bind="upgrade.iconFontID"></i>
                                </a>
                            </span>
                            <span class="btn-upgrade-count">
                                {{ getUpgradeLevel(upgrade)  }}
                            </span>
                        </span>
                    </div>
                    <div class="col-xs-6" ng-repeat="upgrade in device.upgradeList" ng-hide="requirementsMet(upgrade.requirement)">
                        <span style="position:relative">
                                <a class="btn btn-primary btn-upgrade btn-ghost round-borders" tooltips tooltip-speed="fast" tooltip-side="bottom-right" tooltip-template="{{ getNameForTooltip(upgrade.name) }}: Upgrade Locked" >
                                    <i class="btn-upgrade-image" ng-class="upgrade.icon " ng-bind="upgrade.iconFontID"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="gauge-risk-container">
                    <ng-dial-gauge id="gaugeRisk" scale-min="0" scale-minor-color="#aa0000" scale-minor-width="1" scale-minor-length="3" scale-minor-steps="10" scale-max="100" scale-major-color="#aa0000" scale-major-width="2" scale-major-length="3" scale-major-steps="2" ng-model="device.riskPercent" border-width="0" bar-color="#ff0000" track-color="#ffffff" bar-color-end="#ff0000" bar-width="5" title="RISK" units="%" angle="315" rotate="180" line-cap="butt" class="risk-gauge">
                    </ng-dial-gauge>
                </div>
            </div>
            <div class="col-xs-6">

                <span class="fg-cyan" style="font-size: 12pt;">{{ display(getCPUGenerated(device.id) * getTicksPerSecond()) }}B/sec</span>
                <span class="fg-gold" style="font-size: 12pt;">(x{{ display(getDeviceCPUFactor(device)) }})</span>
                <span class="fg-white" style="font-size: 12pt;">({{ display(getCPUGenerated(device.id) * 100 / getTickCPU()) }}%)</span>
                <br>
                <span class="fg-gray" style="font-size: 12pt;">Storage</span><span style="font-size: 12pt;">: {{ display(getDeviceStorageMax(device.id)) }}B</span>
                <span class="fg-white" style="font-size: 12pt;">({{ display(getDeviceStorageMax(device.id) * 100 / getDeviceStorageMax()) }}%)</span>
                <br>
                <span class="fg-gold" style="font-size: 12pt;">Packet {{ getDeviceNetworkFactor(device) &lt; 1 ? 'Loss' : 'Gain' }}</span><span style="font-size: 12pt;">: {{ display(getDeviceNetworkFactor(device) * 100 - 100, true) }}%</span>
                <br>
                <span ng-show="getDeviceDataCost(device) > 0"><span class="fg-gold" style="font-size: 12pt;">Hack Cost</span><span style="font-size: 12pt;">: {{ display(getDeviceDataCost(device))}}B</span></span>
                <span ng-show="getDeviceDataCost(device) == 0"><span class="fg-gold" style="font-size: 12pt;">Costs</span><span style="font-size: 12pt;">: {{ display(getDeviceDataCost(device, 1))}}B</span></span>
            </div>
        </div>
    </div>
</div>
