Current Version: {{ version }}
<br>
If you've lost your save, it is likely because of a drastic update which has made your save incompatible. I'm sorry for the inconvenience!
<br><br>
Please forgive the lack of settings at the moment. Right now all you can do is a hard reset.
<br>
<a ng-hide="showReallyResetButton" ng-click="showReallyResetButton=true" class="btn btn-xs btn-primary">Force Reset</a>
<a ng-show="showReallyResetButton" ng-click="load(true);" class="btn btn-xs btn-primary">REALLY Reset?</a>&nbsp;
<a ng-show="showReallyResetButton" ng-click="showReallyResetButton=false" class="btn btn-xs btn-primary">Nope, just kidding. Hide the evil reset button.</a>
