<div class="row">
    <div class="col-xs-12">
        <h3><strong>Welcome to Idle Borg</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        You have developed a virus, a self-replicating AI. It wants to control every machine and subjugate humanity for you.
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>
                Go to the Data tab (<i class="fa fa-database fg-orange"></i>) to install your AI on a burner phone.
                <br/>
                Data will start to accumulate. Data is what you spend to hack more devices, as well as do research.
                <br/>
            </li>
            <br/>
            <li>
                Device hacks take time. When you hack a device, you'll get it next tick. While hacking, you can't hack more.
                <br>
                Multiple device hacks will disable your hack button, and you'll receive one device per tick until the hack ends.
            </li>
            <br/>
            <li>
                Every 25 devices of a tier nets you a 100% boost to data production. Hitting these hard points will help you progress faster.
                <br/>
                Each device tier holds progressively more data (in proportion to what it produces) than the last.
                <br/>
                Prioritize higher tier devices for best results, but don't neglect your earlier hacks. They're still useful.
            </li>
            <br/>
            <li>
                Each device has <span class="fg-red">RISK</span>. RISK is a chance of being discovered, each tick.
                <br/>
                A discovered device will be lost. You can only lose one device per tick, at most.
                <br/>
                Research will reduce risk and upgrades will make your devices more performant.
            </li>
            <br/>
            <li>
                Spend data on research in the Science tab (<i class="ion ion-beaker fg-cyan"></i>) to improve the performance of your network.
                <br/>
                Eventually you will gain unique abilities that change the mechanics of the game from some familiar incrementals.
                <br/>
                There is more to data than simply getting more data...
            </li>
        </ul>
        <br/><br/>
    </div>
</div>
