<div class="row">
    <div class="col-xs-12">
        <h3><strong>Welcome to Idle Borg</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        You have developed a virus, a self-replicating AI.
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        Go to the Data tab (<i class="fa fa-database fg-orange"></i>) to install your AI on a burner phone.
        <br/>
        Data will start to accumulate. Data is what you spend to hack more devices, as well as do research.
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        Spend data on research in the Science tab (<i class="ion ion-beaker fg-cyan"></i>) to improve the performance of your network.
    </div>
</div>
