<div class="row">
    <div class="col-xs-12">
        <h3><strong>Welcome to Idle Borg</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        You have developed a virus, a self-replicating AI. It wants to control every machine and subjugate humanity for you.
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>
                Go to the Data tab (<i class="fa fa-database fg-orange"></i>) to install your AI on a burner phone.
                <br/>
                Data will start to accumulate. Data is what you spend to hack more devices, as well as do research.
            </li>
            <br/>
            <li>
                Each device has <span class="fg-red">RISK</span>. RISK is a % chance of being discovered, each tick.
                <br/>
                A discovered device will be removed from the pool, so RISK can put a damper on your expansion, if not a wall.
            </li>
            <br/>
            <li>
                Spend data on research in the Science tab (<i class="ion ion-beaker fg-cyan"></i>) to improve the performance of your network.
            </li>
        </ul>
        <br/><br/>
    </div>
</div>